--
-- PostgreSQL database dump
--

\restrict zXyXc1khMWR8UzBjrRwQJGEr84KtQjIohCDrdOVpexUrF53dZN13idu63ElNuEL

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."Worksheet" DROP CONSTRAINT IF EXISTS "Worksheet_workspaceId_fkey";
ALTER TABLE IF EXISTS ONLY public."Response" DROP CONSTRAINT IF EXISTS "Response_workspaceId_fkey";
ALTER TABLE IF EXISTS ONLY public."Response" DROP CONSTRAINT IF EXISTS "Response_worksheetId_fkey";
ALTER TABLE IF EXISTS ONLY public."Field" DROP CONSTRAINT IF EXISTS "Field_workspaceId_fkey";
DROP INDEX IF EXISTS public."Worksheet_workspaceId_slug_key";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."Field_workspaceId_key_key";
ALTER TABLE IF EXISTS ONLY public."Workspace" DROP CONSTRAINT IF EXISTS "Workspace_pkey";
ALTER TABLE IF EXISTS ONLY public."Worksheet" DROP CONSTRAINT IF EXISTS "Worksheet_pkey";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."Response" DROP CONSTRAINT IF EXISTS "Response_pkey";
ALTER TABLE IF EXISTS ONLY public."Field" DROP CONSTRAINT IF EXISTS "Field_pkey";
DROP TABLE IF EXISTS public."Workspace";
DROP TABLE IF EXISTS public."Worksheet";
DROP TABLE IF EXISTS public."User";
DROP TABLE IF EXISTS public."Response";
DROP TABLE IF EXISTS public."Field";
DROP EXTENSION IF EXISTS "uuid-ossp";
--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Field; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Field" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    key text NOT NULL,
    label text NOT NULL,
    "workspaceId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Response; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Response" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "worksheetId" uuid NOT NULL,
    "workspaceId" uuid NOT NULL,
    data jsonb DEFAULT '{}'::jsonb NOT NULL,
    progress integer DEFAULT 0 NOT NULL,
    "studentId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "workspaceId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Worksheet; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Worksheet" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    schema jsonb DEFAULT '[]'::jsonb NOT NULL,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    "workspaceId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Workspace; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Workspace" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Data for Name: Field; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Field" (id, key, label, "workspaceId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Response; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."User" (id, email, "passwordHash", "workspaceId", "createdAt", "updatedAt") FROM stdin;
fbb973e4-bab8-4260-826f-446b5d7e2ea6	admin@learntoaction.com	password	00000000-0000-0000-0000-000000000000	2026-02-05 15:07:28.715	2026-02-05 15:07:28.715
\.


--
-- Data for Name: Worksheet; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Workspace; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Workspace" (id, name, "createdAt", "updatedAt") FROM stdin;
00000000-0000-0000-0000-000000000000	Default Workspace	2026-02-05 12:55:08.335	2026-02-05 12:55:08.335
\.


--
-- Name: Field Field_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Field"
    ADD CONSTRAINT "Field_pkey" PRIMARY KEY (id);


--
-- Name: Response Response_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Response"
    ADD CONSTRAINT "Response_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Worksheet Worksheet_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Worksheet"
    ADD CONSTRAINT "Worksheet_pkey" PRIMARY KEY (id);


--
-- Name: Workspace Workspace_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Workspace"
    ADD CONSTRAINT "Workspace_pkey" PRIMARY KEY (id);


--
-- Name: Field_workspaceId_key_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Field_workspaceId_key_key" ON public."Field" USING btree ("workspaceId", key);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Worksheet_workspaceId_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Worksheet_workspaceId_slug_key" ON public."Worksheet" USING btree ("workspaceId", slug);


--
-- Name: Field Field_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Field"
    ADD CONSTRAINT "Field_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Response Response_worksheetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Response"
    ADD CONSTRAINT "Response_worksheetId_fkey" FOREIGN KEY ("worksheetId") REFERENCES public."Worksheet"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Response Response_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Response"
    ADD CONSTRAINT "Response_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Worksheet Worksheet_workspaceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Worksheet"
    ADD CONSTRAINT "Worksheet_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES public."Workspace"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict zXyXc1khMWR8UzBjrRwQJGEr84KtQjIohCDrdOVpexUrF53dZN13idu63ElNuEL

